@model Cellenza.Demo.SignalR.WebServer.Models.Message

@using (Html.BeginForm("Create", "Messages", FormMethod.Post, new { @class = "shoutform"})) {
    @Html.ValidationSummary(true)

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Text, new { @class = "shoutbox", placeholder="Message goes here" })
        @Html.ValidationMessageFor(model => model.Text)
        <input type="submit" value="Send" />
    </div>
}
